@charset "UTF-8";

body {
	font-family: Arial, "MS Trebuchet", sans-serif;
	
	border: solid 1px gray;
	/* margin: 100px 100px 100px 100px; */	/* 상우좌하 바깥여백  */
	/* margin: 100px; */	/* 상우좌하 100px 여백  */
	/* margin: 100px 50px;	*/ /* 상하:100px, 좌우:50px */
	
	margin: 0;
	
	/* padding은 안쪽여백 */
	/* padding: 100px 100px 100px 100px; 	/* 상우좌하 안쪽여백  */
	
	padding: 0;
	
}

div#container {
	border: solid 0px navy;
	width: 80%;
	margin: 20px auto;		/* auto => 가운데 정렬 */
}

div#header {
	border: solid 0px red;
	height: 100px;
	background-color: #cccccc;
	margin-top: 200px; /* margin: 50px 0px 0px 0px;와 같다 */
}

div#side {
	width: 30%;
	background-color: #888;
}

div#contents {
	width: 69.44%;
	background-color: #eee;
}

.customDisplay {
	display: inline-block;
	height: 400px;
}

div#footer {
	height: 80px;
	background-color: #ddd;
}




